body {
margin: 0 auto;
padding: 0;

}

/*NAVIGATION */
nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #bdbdbe; /*bordure : taille+ contour + couleur; */
    background-color: #444448;
    /*opacity: 0.6; /* Transparence */
    box-shadow: 2px 2px 2px black;
        }
nav ul
{
    list-style-type: none;
}
nav li
{
    display: inline-block;
    margin-right: 25px;
	
}

nav a
{
    font-size: 1.1em; 		/*	taille du menu */
    color: #c1b297;
    padding-bottom: 3px;
    text-decoration: none;  /*	Enleve le soulignage en dessous du menu */
}
